body {
    width: 751px;
    height: 700px;
    margin: 0;
    font-family: Verdana;
}
.clear-fix:after {
    content: "";
    clear: both;
    display: block;
}
.tooth-img {
    position: absolute;
    left: 0;
    top: 0;
    
}
header {
    
    font-size: 8.7pt;
    color: #fbf9f9;
    background-color: #ff7d21;
    padding-bottom: 0;
    border-radius: 0 0 11px 0;
}
.header-main {
    float: left;
    width: 537px;
    background-color: #ff7d21;
}
.description {
    float: right;
    text-align: right;
    margin: 0;
    
}
.text {
    padding: 0 2px 5px 0;
    border: 1px solid #20207e;
    width: 537px;
    font-weight: 100;
    line-height: 18px;
    letter-spacing: 0.6px;
}
.date {
    border-right: 1px solid #20207e;
    padding: 0 2px 2px 0;
}
/*.company-name {
    float: right;
}*/
.header-buttons {
    width: 214px;
    height: 129px;
    float: right;
    clear: right;
    background-color: #ff7d21;
    border-bottom: 1px solid #ff7d21;
    border-radius: 0 0 11px 0;
}
.user-menu {
    border-bottom: 1px solid #20207e;
}
.word{
    margin-left: 6px;
}
.input {
    float: right;
    margin-right: 6px;
    height: 16px;
    width: 150px;
    border: 1px solid #0e0e0e;
}
.button {
    width: 60px;
    float: right;
    margin-right: 6px;
}
.nav {
    background-color: #ff7d21;
    width: 182px;
    float: left;
}
.nav-bar a {
    text-decoration: none;
    color: #ffffff;
}
nav {
    padding-top: 23px;
    margin-left: 5px;
    font-size: 10pt;
    
    font-weight: 400;
    border-left: 1px solid #20207e;
}
.extend {
    border-top: 1px solid #20207e;
}
.nav-bar {
    display: block;
    border-right: none;
    width: 176px;
    border-bottom: 1px solid #20207e;
}

.point {
    margin-left: 3px;
}
.features {
    background-color: #ffffff;
    border: 1px solid #ffffff;
    margin: 27px 4px 0 4px;
}
.img-features {
    height: 31px;
    background-color: #ff7d21;
    padding-left: 7px;
}
.litle-header {
    font-weight: bold;
    font-size: 8pt;
    padding: 0 0 0 6px;
}
.text-features {
    font-size: 8pt;
     padding: 0 0 0 6px;
}
.second {
    margin-top: 13px;
}
main {

    margin-top: 10px;
}
.news {
    background-color: #20207e;
    color: #fbf9f9;
    height: 16px;
    font-size: 9pt;
    padding-left: 9px;
    font-weight: 600;
}
.first-section {
    border-bottom: 1px solid #20207e;
}
h5 {
    color:#20207e;
    margin: 12px 0 20px 0;
    font-size: 10pt;
}
.article {
    font-size: 8.7pt;
    padding: 0 0 0 8px;
    letter-spacing: 0.6px;
}
.img-plates {
    float: right;
    margin: 0 50px 5px 0;
}
.article p {
    margin: 0 0 15px 0;
}
.article div {
    width: 260px;
    float: left;
    line-height: 30px;
}
.last-p {
    margin-bottom: 9px;
}

/*Стили для формы*/
.calculator {
 width: 350px;
 margin: auto;
 margin-top: 30px;
}
#submit-btn {
    margin: 3px 0 0 40px;
    background-color: #a1e3a4;
    border-radius: 50%;
    width: 100px;
    height: 50px;
    border: 1px solid #245527;
    
}
#submit-btn:focus {outline:0;}
#submit-btn:hover {
-webkit-animation-name: myfirst;
     -webkit-animation-duration: 2s;
      animation-name: myfirst;
    animation-duration: 2s;
}
@-webkit-keyframes myfirst{
    from{-webkit-transform: rotate(0deg);}
    to{-webkit-transform: rotate(360deg);}
}
@keyframes myfirst {
    from{transform: rotate(0deg);}
    to{transform: rotate(360deg);}
}
/*Валидация*/
.error {
    color: #b70415;
    font-size: 8pt;
    
}
#first, #second, #estresult {
display: none;
}
.incorect-input {
    border: 1px solid #b70415;
}
.container {
    float: left;
    padding: 15px;
    font-family: "Segoe UI Light";

    text-align: center;
}

.phone-img {
    height: 250px;
}
.pr {
    font-size: 14px;
}
.name {
    font-size: 18px;
    color: #2f8e97;
    margin: 3px 0 4px 0;
}
.sale {
    background-color: #2f8e97;
    color: #ffffff;
    margin:0;
    padding: 0 3px;

}
.btn-more {
    display: block;
    margin: 10px auto;
    background-color: #2f8e97;
    border: none;
    padding: 10px 25px;
    color: #ffffff;
}
.price {
    float: left;
    margin-right: 6px;
}
.arrow-left {
    width: 0px;
    height: 0px;
    margin:0;
    padding:0;
    border-top: 11px solid transparent;
    border-bottom: 11px solid transparent;
    border-right: 11px solid #2f8e97;
    float: left;
}
.price-info {
   text-align: center;
    display: inline-block;
}


.btn-more:focus {
    outline: none;
}
.btn-more:hover {
    box-shadow: 2px 2px 10px #888888
}

#demo {
    display: none;
    position: absolute;
    z-index: 1;
    top: 5%;
    left: 40%;
    background-color: #fbf9f9;
    padding: 20px;
}
#close {
    width: 20px;
    height: 20px;
    background-color: #b70415;
}

.left-part {
    width: 200px;
    float: left;
}
.right-part {
    width: 100px;
    float: left;

}
.photo-galery {
    border: 1px solid #ff7d21;
    margin: 10px 0 20px 20px;
}
.single_image {
    max-width: 135px;
    max-height: 135px;

}