body {
    margin: 0;
    font-family: Verdana;
    font-size: 14px;
}

.clear-fix:after {
    content: "";
    clear: both;
    display: block;
}

.pr-img {
    max-width: 150px;
    height: 100px;
    padding: 7px;
    display: block;

}
.categiries {
    padding: 20px 0;
    text-align: center;
}
.categiries a {
    text-decoration: none;
    margin: 15px;
    color: #403075;
}
.categiries a:hover {
    color: #ABA7B7;
}


.products {
    padding: 10px 10%;
    align-content: center;
}
.product-name {
    text-align: center;
    padding:4px 0 10px ;
}
.item {
    width: auto;
    height: auto;
    float: left;
    border: 1px solid #ABA7B7;
    margin: 1px;
    padding: 10px;
}
.price {
    font-weight: 600;
    text-align: center;
    color: #226666;
}

.btn-more {
    text-align: center;
}
.btn-more input{
    padding: 10px 50px;
    margin: 10px 0 0 0 ;
    background-color: Transparent;
    border: 1px solid #226666;
    color: #226666;

}
.btn-more input:focus {
    outline:0;
}
.container {
    align-content: center;
}
.single_image {
    max-width: 200px;
    max-height: 200px;
    float: left;
    display: block;
}
.product-name-sp {
    font-size: 26px;
    color: #226666;
    text-align: center;
}
.container .price {
    font-size: 18px;
}
.description-sp,.year-output-sp, .os-sp {
    padding: 0 20%;
}
.images {
    padding: 0 20%;
}

#form-comment label,textarea{
    display: block;
}
#form-comment {
    width: 60%;
    margin: 0 auto;
    
}
.response {
    padding: 10px 20%;
}
.response .name {
    font-weight: 700;

    border-bottom: 2px solid #226666;;
}